<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pins</title>
</head>
<body>
  <h1>All Pins</h1>
  
  <a href="{{ path('app_pins_create') }}">Create Pin</a>

  {# pas besoin du if dans ce cas la, on peut intégrer le else dans la boucle for #}
  {# {% if pins|length > 0 %} #}
  {% for pin in pins %}
      <article>
        <h2>{{ pin.title }}</h2>
        <p>{{ pin.description }}</p>
      </article>
  {% else %}
    <p>Sorry, no pins yet !</p>
  {% endfor %}
  {# {% endif %} #}

</body>
</html>